@charset "UTF-8";

/*slickのcss*/
.slider {margin: 0 0 50px;}
.slider img {
	width: 100%;
	height: auto;}

.single-item {
	max-width: 600px;
	margin: 0 auto 50px;}
.slick-prev::before, .slick-next::before {
	font-size: 24px;}

.lazy-item .slick-next,
.thumb-item-nav .slick-next,
.multiple-item .slick-next,
.center-item .slick-next {
	right: 20px;
	z-index: 99;}

.lazy-item .slick-prev,
.thumb-item-nav .slick-prev,
.multiple-item .slick-prev,
.center-item .slick-prev {
	left: 15px;
	z-index: 100;}

.single-item .slick-prev::before,
.single-item .slick-next::before {
	color: #666;}

.slick-dots {bottom:-25px;}
.multiple-item li {margin: 0 5px;}
.thumb-item {
	max-width: 700px;
	margin: 0 auto 5px;
	padding: 0 5px;}
	
.thumb-item-nav {
	max-width: 700px;
	margin: 0 auto;} 